.header {
  background-color: #6f42c1;
  color: white;
  height: 4rem;
  overflow-x: hidden;
  text-align: center;
}

.plots {
  .plot {
    .title {
      font-size: large;
      font-weight: 400;
    }
  }
}
